.section-banner {
  $self: &;
  background-color: $cyan;
  max-height: 845px;
  margin-bottom: 48px;

  @include lg {
    max-height: 100%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lg {
      flex-direction: column;
    }

    #{ $self }__left {
      max-width: 50%;
      padding: 0 15px;
      color: $white;

      @include lg {
        max-width: 100%;
        text-align: center;
        margin-top: 48px;
        padding: 0;
      }

      h1,
      h4 {
        font-family: 'Handlee', sans-serif;
      }

      h1 {
        font-size: 72px;
        margin-bottom: 10px;
        font-weight: 700;

        @include md {
          font-size: 54px;
        }

        @include sm {
          font-size: 44px;
        }

        @include xs {
          font-size: 34px;
        }
      }

      h4 {
        font-size: 24px;

        @include xs {
          font-size: 18px;
        }
      }

      p,
      h4 {
        margin-bottom: 24px;
      }

      p {
        line-height: 1.5;
      }
    }

    #{ $self }__right {
      max-width: 50%;
      margin-top: 48px;

      @include lg {
        max-width: 100%;
      }
    }
  }
}

.section-info {
  .container {
    .box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }
  }
}

.section-about {
  $self: &;
  .container {
    display: flex;
    align-items: center;

    @include lg {
      flex-direction: column;
    }

    #{ $self }__left {
      max-width: 42%;
      padding: 0 15px;

      @include lg {
        max-width: 100%;
        margin-bottom: 48px;
      }

      img {
        border-radius: 5px;
      }
    }

    #{ $self }__right {
      max-width: 58%;
      padding: 0 15px;

      @include lg {
        max-width: 80%;
      }

      @include md {
        max-width: 100%;
      }

      &__desc {
        margin-bottom: 24px;
      }

      div {
        display: flex;
        margin-bottom: 32px;
        justify-content: space-between;

        @include sm {
          flex-direction: column;
          align-items: center;
        }

        figure {
          max-width: 224px;
          width: 100%;
          padding-right: 30px;

          img {
            border-radius: 5px;
          }

          @include sm {
            margin-bottom: 16px;
            padding: 0;
          }
        }

        ul {
          max-width: 414px;
          width: 100%;

          @include lg {
            max-width: 100%;
          }

          li {
            display: flex;
            align-items: center;
            padding: 8px 0;
            color: $text;
            border-bottom: 1px solid $border;

            &:first-child {
              border-top: 1px solid $border;
            }

            i {
              font-weight: 600;
              font-size: 26px;
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
}

.section-classes {
  .container {
    .box {
      display: flex;
      justify-content: space-between;

      @include lg {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.section-teachers {
  .container {
    .box {
      display: flex;
      justify-content: space-between;

      @include lg {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
      }

      @include sm {
        row-gap: 0;
      }
    }
  }
}

.section-blog {
  @extend .section-classes;
}
