{% import "includes/components/Button/button.njk" as Button %}

{% set navItems = [
  {
    title: 'Home',
    url: '/'
  }, {
    title: 'About',
    url: '/'
  }, {
    title: 'Classes',
    url: '/'
  }, {
    title: 'Teachers',
    url: '/'
  }, {
    title: 'Gallery',
    url: '/'
  }, {
    title: 'Contact',
    url: '/'
  }
] %}

<div class='container'>
  <a class='header__logo' href="/">KidsRiddle</a>

  <figure class='header__menu-toggle'>
    <img src="../assets/images/toggle-menu.svg" alt="Menu Toggle">
  </figure>

  <nav class='header__menu'>
    <div class="header__links">
      {% for item in navItems %}
        <a href="{{item.url}}">{{item.title}}</a>
      {% endfor %}
    </div>

    {{Button.item(
        href='/',
        text='Join Class',
        class='sm'
      )}}
  </nav>
</div>