{% import "includes/components/Button/button.njk" as Button %}

{% set navItems = [
  {
    title: 'Home',
    url: '/'
  }, {
    title: 'About',
    url: '/'
  }, {
    title: 'Classes',
    url: '/'
  }, {
    title: 'Teachers',
    url: '/'
  }, {
    title: 'Gallery',
    url: '/'
  }, {
    title: 'Contact',
    url: '/'
  }
] %}

<header class='header'>
  <div class="container">
    <a href="/">KidsRiddle</a>
    <nav>
      {% for item in navItems %}
        <a href="{{item.url}}">{{item.title}}</a>
      {% endfor %}
      {{Button.item(
    text='Join Class',
    class='sm'
  )}}
    </nav>
  </div>
</header>