{% import "includes/components/Button/button.njk" as Button %}

{% macro item(img, title, desc, classCard, classesDetails, btnText, btnHref, blogCard, blogDetails) %}
  <div class="card">
    <figure>
      <img src="{{ img }}" alt="{{ title }}">
    </figure>

    <div class='card__content'>
      <h4 class="card__title">{{ title }}</h4>

      {% if blogCard %}
        <div class="card__blog">
          {% for item in blogDetails %}
            <small>
              <i class='bx {{item.icon}}'></i>
              {{item.title}}
            </small>
          {% endfor %}
        </div>
      {% endif %}

      <p class='card__desc'>{{ desc }}</p>
    </div>

    {% if classCard %}
      <div class='card__classes border-top'>
        <div>
          {% for item in classesDetails %}
            <strong>{{ item.title }}</strong>
          {% endfor %}
        </div>

        <div>
          {% for item in classesDetails %}
            <span>{{ item.desc }}</span>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {{Button.item(
      text= btnText,
      class='sm',
      href=btnHref
    )}}
  </div>
{% endmacro %}