{% extends 'includes/layout/layout.njk' %}
{% import "includes/components/Button/button.njk" as Button %}
{% import "includes/components/Card/Class-Blog-Card/class-blog-card.njk" as classCard %}
{% import "includes/components/Card/InfoCard/infoCard.njk" as infoCard %}
{% import "includes/components/Card/teachersCard/teachers-card.njk" as teachersCard with context %}
{% set title = 'Home' %}

{% set bannerItems = {
  title: 'New Approach to Kids Education',
  subtitle: 'Kids Learning Center',
  par: 'Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed sit. Ipsum dolor no justo dolor et, lorem ut dolor erat dolore sed ipsum at ipsum nonumy amet. Clita lorem dolore sed stet et est justo dolore.',
  btn: 'Learn More',
  img: '../assets/images/banner.png'
} %}

{% set infoItems = [
  {
    icon:'bxs-game',
    title:'Play Ground',
    desc:'Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...'
  },
    {
    icon:'bxs-music',
    title:'Music and Dance',
    desc:'Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...'
  },
    {
    icon:'bxs-palette',
    title:'Arts and Crafts',
    desc:'Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...'
  },
    {
    icon:'bxs-car',
    title:'Safe Transportation',
    desc:'Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...'
  },
    {
    icon:'bxs-bowl-rice',
    title:'Healthy Food',
    desc:'Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...'
  },
    {
    icon:'bxs-backpack',
    title:'Educational Tour',
    desc:'Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero lorem amet elitr vero...'
  }
] %}

{% set sectionAbout = {
  imgBig:'../assets/images/about-1.jpeg',
  title:'LEARN ABOUT US',
  subtitle:'Best School For Your Kids',
  desc:'Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor',
  imgSmall:'../assets/images/about-2.jpeg',
  checkIcon:'bx-check',
  list: ['Labore eos amet dolor amet diam', 'Etsea et sit dolor amet ipsum', 'Diam dolor diam elitripsum vero.']
} %}

{% set sectionClass = {
  title: 'POPULAR CLASSES',
  subtitle:'Classes for Your Kids',
  cards: [
    {
      img:'../assets/images/classes-1.jpeg',
      title:'Drawing Class',
      desc:'Justo ea diam stet diam ipsum no sit, ipsum vero et et diam ipsum duo et no et, ipsum ipsum erat duo amet clita duo',
      details: [
        {
          title:'Age of Kids',
          desc:'3 - 6 Years'
        },
        {
          title:'Total Seats',
          desc:'40 Seats'
        },
        {
          title:'Class Time',
          desc:'08:00 - 10:00'
        },
        {
          title:'Tution Fee',
          desc:'$290 / Month'
        }
      ],
      btn:'Learn More',
      btnUrl:'/'
    },
    {
      img:'../assets/images/classes-2.jpeg',
      title:'Language Learning',
      desc:'Justo ea diam stet diam ipsum no sit, ipsum vero et et diam ipsum duo et no et, ipsum ipsum erat duo amet clita duo',
      details: [
        {
          title:'Age of Kids',
          desc:'3 - 6 Years'
        },
        {
          title:'Total Seats',
          desc:'40 Seats'
        },
        {
          title:'Class Time',
          desc:'08:00 - 10:00'
        },
        {
          title:'Tution Fee',
          desc:'$290 / Month'
        }
      ],
      btn:'Learn More',
      btnUrl:'/'
    },
    {
      img:'../assets/images/classes-3.jpeg',
      title:'Basic Science',
      desc:'Justo ea diam stet diam ipsum no sit, ipsum vero et et diam ipsum duo et no et, ipsum ipsum erat duo amet clita duo',
      details: [
        {
          title:'Age of Kids',
          desc:'3 - 6 Years'
        },
        {
          title:'Total Seats',
          desc:'40 Seats'
        },
        {
          title:'Class Time',
          desc:'08:00 - 10:00'
        },
        {
          title:'Tution Fee',
          desc:'$290 / Month'
        }
      ],
      btn:'Learn More',
      btnUrl:'/'
    }
  ]
} %}

{% set sectionBlog = {
  title: 'LATEST BLOG',
  subtitle: 'Latest Articles From Blog',
  cards: [
    {
      img:'../assets/images/blog-1.jpeg',
      title:'Diam amet eos at no eos',
      desc:'Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...',
      btn:'Read More',
      btnUrl:'/',
      details: [
        {
          title: 'Admin',
          icon: 'bxs-user'
        },
        {
          title: 'Web Design',
          icon: 'bxs-folder'
        },
        {
          title: '15',
          icon: 'bxs-conversation'
        }
      ]

    },
      {
      img:'../assets/images/blog-2.jpeg',
      title:'Diam amet eos at no eos',
      desc:'Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...',
      btn:'Read More',
      btnUrl:'/',
      details: [
        {
          title: 'Admin',
          icon: 'bxs-user'
        },
        {
          title: 'Web Design',
          icon: 'bxs-folder'
        },
        {
          title: '15',
          icon: 'bxs-conversation'
        }
      ]

    },
      {
      img:'../assets/images/blog-3.jpeg',
      title:'Diam amet eos at no eos',
      desc:'Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...',
      btn:'Read More',
      btnUrl:'/',
      details: [
        {
          title: 'Admin',
          icon: 'bxs-user'
        },
        {
          title: 'Web Design',
          icon: 'bxs-folder'
        },
        {
          title: '15',
          icon: 'bxs-conversation'
        }
      ]

    }
  ]
} %}

{% set sectionTeachers = {
  title:'OUR TEACHERS',
  subtitle:'Meet Our Teachers',
  cards: [
  {
    img: '../assets/images/teacher-1.jpeg',
    name: 'Julia Smith',
    job: 'Music Teacher',
    social: [
      {
        url:'/',
        icon: 'bxl-twitter'
      },
      {
        url:'/',
        icon: 'bxl-facebook'
      },
      {
        url:'/',
        icon: 'bxl-linkedin'
      }
    ]
  }, {
    img: '../assets/images/teacher-2.jpeg',
    name: 'Jhon Doe',
    job: 'Language Teacher',
        social: [
      {
        url:'/',
        icon: 'bxl-twitter'
      },
      {
        url:'/',
        icon: 'bxl-facebook'
      },
      {
        url:'/',
        icon: 'bxl-linkedin'
      }
    ]
  }, {
    img: '../assets/images/teacher-3.jpeg',
    name: 'Mollie Ross',
    job: 'Dance Teacher',
        social: [
      {
        url:'/',
        icon: 'bxl-twitter'
      },
      {
        url:'/',
        icon: 'bxl-facebook'
      },
      {
        url:'/',
        icon: 'bxl-linkedin'
      }
    ]
  }, {
    img: '../assets/images/teacher-4.jpeg',
    name: 'Donald John',
    job: 'Art Teacher',
        social: [
      {
        link:'/',
        icon: 'bxl-twitter'
      },
      {
        link:'/',
        icon: 'bxl-facebook'
      },
      {
        link:'/',
        icon: 'bxl-linkedin'
      }
    ]
  }
]
}
 %}

{% block content %}
  <section id="home" class="section-banner">
    <div class="container">
      <div class="section-banner__left">
        <h1>{{bannerItems.title}}</h1>
        <h4>{{bannerItems.subtitle}}</h4>
        <p>{{bannerItems.par}}</p>
        {{Button.item(
          href='/',
          class='md',
          buttonv2=true,
          text=bannerItems.btn,
          attr= 'target=_blank'
      )}}
      </div>
      <figure class="section-banner__right">
        <img src="{{bannerItems.img}}" alt="{{bannerItems.title}}">
      </figure>
    </div>
  </section>
  <section class='section section-info'>
    <div class="container container--narrow">
      <div class="box">
        {% for item in infoItems %}
          {{infoCard.item(
            icon= item.icon,
            title= item.title,
            desc= item.desc
          )}}
        {% endfor %}
      </div>
    </section>

    <section id="about" class="section section-about">
      <div class="container container--narrow">
        <figure class='section-about__left'>
          <img src="{{sectionAbout.imgBig}}" alt="{{sectionAbout.subtitle}}">
        </figure>

        <div class="section-about__right">
          <p class='section__title section__title--before'>
            <span>
              {{sectionAbout.title}}
            </span>
          </p>
          <h2 class='section__subtitle'>{{sectionAbout.subtitle}}</h2>
          <p class='section__desc section-about__right__desc'>{{sectionAbout.desc}}</p>

          <div>
            <figure>
              <img src="{{sectionAbout.imgSmall}}" alt="{{sectionAbout.subtitle}}">
            </figure>
            <ul>
              {% for item in sectionAbout.list %}
                <li>
                  <i class='bx {{sectionAbout.checkIcon}}'></i>
                  {{item}}
                </li>
              {% endfor %}
            </ul>
          </div>

          {{Button.item(
            href= '/',
            class='sm',
            text='Learn More',
            attr= 'target=_blank'
          )}}
        </div>
      </div>
    </section>

    <section id="classes" class="section section-classes">
      <div class="container container--narrow textCenter">
        <p class='section__title section__title--before section__title--after'>
          <span>
            {{ sectionClass.title }}
          </span>
        </p>
        <h2 class='section__subtitle'>{{ sectionClass.subtitle }}</h2>
        <div class="box">
          {% for card in sectionClass.cards %}
            {{classCard.item(
              classCard= true,
              img= card.img,
              title= card.title,
              desc= card.desc,
              detailTitle= card.detailTitle,
              detailDesc= card.detailDesc,
              classesDetails= card.details,
              btnText= card.btn,
              btnHref= card.btnUrl
            )}}
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="teachers" class="section section-teachers">
      <div class="container container--narrow textCenter">
        <p class='section__title section__title--before section__title--after'>
          <span>
            {{ sectionTeachers.title }}
          </span>
        </p>
        <h2 class='section__subtitle'>{{ sectionTeachers.subtitle }}</h2>
        <div class="box">
          {% for item in sectionTeachers.cards %}
            {% call teachersCard.item(img = item.img, name = item.name, job = item.job) %}
            {% for item in item.social %}
              <a href="{{ item.url }}">
                <i class='bx {{ item.icon }}' ></i>
              </a>
            {% endfor %}
            {% endcall %}
          {% endfor %}
        </div>
      </div>
    </section>

    <section id="blog" class="section section-blog">
      <div class="container container--narrow textCenter">
        <p class='section__title section__title--before section__title--after'>
          <span>
            {{ sectionBlog.title }}
          </span>
        </p>
        <h2 class='section__subtitle'>{{ sectionBlog.subtitle }}</h2>
        <div class="box">
          {% for card in sectionBlog.cards %}
            {{classCard.item(
              blogCard= true,
              img= card.img,
              title= card.title,
              desc= card.desc,
              btnText= card.btn,
              btnHref= card.btnUrl,
              blogDetails= card.details
            )}}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endblock %}