{% extends 'includes/layout/layout.njk' %}
{% import "includes/components/Button/button.njk" as Button %}

{% set title = 'Home' %}

{% block content %}
  {{Button.item(
    text='Join Class',
    buttonv2=true,
    class='md'
  )}}
{% endblock %}