.container {
  max-width: 1780px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

  &--narrow {
    max-width: 1140px;
  }
}

.overflowHidden {
  overflow: hidden;
}

main.active {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 2;
  }
}
