<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if title %}
        {{ title }}
      {% endif %}
    </title>
    <link crossorigin rel="preload" href="../assets/fonts/Handlee-Regular.ttf" as='font'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/css/styles.css">
  </head>
  <body>
    <header class='header'>
      {% include "includes/components/Header/header.njk" %}
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer id="contact" class='footer'>
      {% include "includes/components/Footer/footer.njk" %}
    </footer>
    <script src="../assets/js/main.js"></script>
  </body>
</html>