.section {
  padding: 48px 0;

  &__title {
    color: $primary;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 16px;

    span {
      position: relative;
      background: $white;
      z-index: 1;
    }

    &--before::before {
      position: absolute;
      content: '';
      top: 40%;
      right: -56px;
      width: 48px;
      height: 2px;
      background-color: $primary;
    }

    &--after::after {
      position: absolute;
      content: '';
      top: 40%;
      left: -56px;
      width: 48px;
      height: 2px;
      background-color: $primary;
    }
  }

  &__subtitle {
    font-size: 40px;
    font-family: 'Handlee', sans-serif;
    line-height: 1.2;
    font-weight: 700;
    color: $secondary;
    margin-bottom: 24px;
  }

  &__desc {
    color: $text;
    line-height: 1.5;
  }
}
